* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  font-family: arial;
}
/* .container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
} */

.img-container {
  height: 875px;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-left: none;
  border-radius: 5px;
}

.img-container img {
  width: 300px;
}

form {
  width: 50%;
  margin: 5px;
  background-color: burlywood;
  padding: 50px 40px;
  border-radius: 5px;
  border: 2px solid black;
}

form h3 {
  text-align: center;
  padding-bottom: 20px;
}

.input-box input[type="text"],
.input-box textarea,
.input-box input[type="date"] {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
}

.input-box.success input[type="text"],
.input-box.success textarea,
.input-box.success input[type="date"] {
  border: 3px solid green;
}
.input-box.error input[type="text"],
.input-box.error textarea,
.input-box.error input[type="date"] {
  border: 3px solid red;
}

.input-box {
  padding-bottom: 25px;
  position: relative;
}

.input-box label {
  display: inline-block;
  padding-bottom: 5px;
}

.input-box small {
  position: absolute;
  right: 0;
  padding: 5px;
  visibility: hidden;
}

.input-box small#check-error {
  bottom: 10px;
}

.input-box.error small {
  color: red;
  visibility: visible;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
