:root {
  --primary: rgb(251, 138, 0);
  --bg: #2c2e40;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  color: white;
}
/* ---------------------------------Header--------------------------------- */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  /* border-bottom: 0.5px solid #c2c2c1; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.logo {
  display: flex;
  width: 100px;
  height: 100px;
}
.logo p {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: Matura MT Script Capitals;
  color: var(--primary);
}
.logo span {
  color: #010101;
  margin-left: 5px;
}
/* Header End */

/* header vidio */
.vidio {
  height: 500;
  width: 100%;
}
/* .header-img {
  width: 100vw;
} */

/* header vidio end */
/* Menu */
.menu ul {
  list-style: none;
}
.menu ul li {
  position: relative;
  float: left;
}

/* Menu */
.menu a {
  color: var(--primary);
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  padding: 20px;
  font-weight: bold;
}
.menu ul li ul {
  position: absolute;
  left: 0;
  width: 100px;
  background: rgb(4, 4, 0);
  background: linear-gradient(
    0deg,
    rgba(4, 4, 0, 1) 0%,
    rgba(92, 91, 91, 0) 100%
  );
  display: none;
}
.menu ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(207, 205, 205, 0.384);
}
.menu ul li:focus-within > ul,
.menu ul li:hover > ul {
  display: initial;
}
.menu a:hover {
  color: #ffaa54;
}
.menu a::after {
  content: "";
  border-bottom: 0.1rem solid var(--primary);
  display: block;
  padding-bottom: 0.5rem;
  transform: scaleX(0);
}
.menu a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}
/* Menu End */

.content {
  display: flex;
}
.content_eval {
  display: flex;
  flex-direction: column;
  background-image: url("../aset/img/gallery1\ \(10\).jpg");
  width: 1110px;
  height: 1540px;
  border-radius: 20px;
  margin: 20px 10px;
}

.judul_eval {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: whitesmoke;
}

.content_tabel {
  display: flex;
  justify-content: space-between;
}

.tabel_1 {
  width: 590px;
  height: 1450px;
  padding: 20px 2px 20px 20px;
  margin: 15px 0px 15px 15px;
  font-family: Garamond;
  border-radius: 30px 0px 0px 30px;
  background-color: rgba(255, 255, 255, 0.35);
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.tabel_2 {
  width: 550px;
  height: 1450px;
  padding: 20px 20px 20px 2px;
  margin: 15px 17px 15px 0px;
  font-family: Garamond;
  border-radius: 0px 30px 30px 0px;
  background-color: rgba(255, 255, 255, 0.35);
  font-size: 17px;
  font-weight: bold;
  color: black;
}

table,
th,
td {
  border: solid;
  border-collapse: collapse;
  border-color: black;
  border-width: 2px;
}

th,
td {
  padding: 7px;
}

tr:nth-child(even) {
  background-color: rgba(148, 148, 148, 0.7);
}

th {
  background-color: #247719;
}

/* Sidebar */
.sidebar {
  background-color: #171923;
  padding: 20px;
  width: 300px;
  height: 340px;
  top: 0;
  position: sticky;
  /* margin-top: 10px; */
  margin-bottom: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  margin-bottom: 10px;
}
.sidebar ul li a {
  text-decoration: none;
  color: #b7b5b5;
}
.sidebar ul li a:hover {
  color: #fffbfb;
}
/* Sidebar End */
/* Footer*/
.Footer {
  height: 300px;
  background-color: #d3d3d3;
  margin: 0 1rem;
  border-radius: 30px;
  /* display: flex; */
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.Footer p {
  margin-top: 10px;
  color: #010101;
  font-size: 18px;
  text-align: justify;
}
.FooterSecond {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.Footer img {
  margin-top: 10px;
  height: 50px;
  width: 50px;
}
.foter-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 32%,
    rgba(0, 0, 0, 0.7793242296918768) 87%
  );
  margin-top: 35px;
  height: 50px;
  border-radius: 10px;
}
.foter-copyright p {
  color: whitesmoke;
  font-size: 15px;
}
/* Footer End */
